<p class="cs142-photos-title"> {{model.user.first_name}}'s Photos </p>
<table class="cs142-photos-table">
    <tr ng-repeat="photo in model.photos">
        <td class="cs142-photos-data">
            <img class="cs142-photos-img" ng-src="images/{{photo.file_name}}"></img>
            <p> Created: {{photo.date_time}} </p>
            <p> Comments: </p>
            <table class="cs142-photos-comments-table">
                <tr ng-repeat="comment in photo.comments">
                    <td class="cs142-photos-comment-label">
                        <p>
                            <a ng-href="{{switchToUserProfile(comment.user._id)}}">
                                {{comment.user.first_name}} {{comment.user.last_name}}
                            </a>
                        </p>
                        <p> {{comment.date_time}} </p>
                    </td>
                    <td class="cs142-photos-comment">
                        <p> {{comment.comment}} </p>
                    </td>
                </tr>
            </table>
            <button class="cs142-photos-comment-button" 
                ng-click="commenting.add(photo._id)">
                Add Comment
            </button>
            <div ng-if="commenting.id === photo._id">
                <input ng-model="commenting.text"></input>
                <button ng-click="commenting.submit()"> 
                    Submit 
                </button>
                <button ng-click="commenting.cancel()"> 
                    Cancel 
                </button>
            </div>
        </td>
    </tr>
</table>

