/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.cs142-main-name {
    width: 35%;
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.cs142-main-version {
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.cs142-main-context {
    width: 35%;
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;
}
