/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.cs142-main-name {
    width: 20%;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
}

.cs142-main-login {
    width: 25%;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

.cs142-main-login button {
    margin-left: 5%;
}

.cs142-main-version {
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.cs142-main-context {
    width: 25%;
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;
}
