/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.cs142-main-name {
    width: 15%;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
}

.cs142-main-login {
    width: 40%;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

.cs142-main-login input {
    font-size: small;
    width: 50%;
}

.cs142-main-small-button {
    font-size: small;
    margin-left: 2%;
}

.cs142-main-upload-error {
    font-size: small;
    color: red;
}

.cs142-main-login-button {
    margin-left: 5%;
    font-size: medium;
}

.cs142-main-version {
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.cs142-main-context {
    width: 25%;
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;
}
