.cs142-login-body {
    width: 100%;
    padding: 5%;
    text-align: center;
}
.cs142-login-body form {
    background: lightgray;
    border: 1px solid black;
    width: 300px;
    margin: auto;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 8px;
}
.cs142-login-body button {
    margin-top: 8px;
}
.cs142-login-label {
    margin-top: 8px;
    margin-bottom: 4px;
}
.cs142-login-body input {
    width: 200px;
}
.cs142-login-error {
    margin-top: 8px;
    color: red;
    font-family: "Courier New", monospace;
    font-size: small;
}
